@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --firstcolor: rgb(229, 9, 20);
  --secondcolor: rgb(255, 255, 255);
  --blackcolor: black;
  --thirdcolor: gray;
  --whitecolor: white;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: var(--blackcolor);
  width: 100%;
}

.main {
  background-image: url("assests/image/bgimage1.jpg");
  background-size: max(1200px, 100vw);
  background-position: center center;
  background-repeat: no-repeat;
  height: 645px;
  position: relative;
}

.main .box {
  height: 645px;
  width: 100%;
  opacity: 0.6;
  background-color: var(--blackcolor);
  position: absolute;
  top: 0;
}

#img1 {
  position: relative;
  z-index: 1;
}

.main #btn1 {
  background: none;
  border: 1.5px solid var(--thirdcolor);
  border-radius: 5px;
  padding: 5px 30px;
  color: var(--secondcolor);
  font-weight: 500;
  margin: 0 10px;
  cursor: pointer;
}

.main #btn2 {
  background-color: var(--firstcolor);
  border: 1px solid var(--firstcolor);
  border-radius: 5px;
  color: var(--secondcolor);
  font-weight: 600;
  padding: 5px 15px;
  cursor: pointer;
}

nav {
  width: 80vw;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav span img {
  width: 190px;
  position: relative;
  z-index: 10;
  color: var(--whitecolor);
}

nav button {
  position: relative;
  z-index: 10;
}

.hero {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: var(--secondcolor);
  position: relative;
  font-family: "Outfit", sans-serif;
  gap: 20px;
}

.hero > :first-child {
  font-weight: 900;
  font-size: 1.9em;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 240%;
  max-width: 700px;
}

.hero > :nth-child(2) {
  font-size: 1.2em;
  font-weight: 600;
  line-height: 125%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero > :nth-child(3) {
  font-size: 1em;
  font-weight: 400;
  margin-top: 7px;
  padding: 23px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.email-container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

#input1 {
  flex: 1;
  background: none;
  border: 1px solid var(--thirdcolor);
  border-radius: 5px;
  color: var(--secondcolor);
  font-size: 1rem;
  font-weight: 500;
  padding: 0 1.5rem;
  min-height: 50px;
  width: 25vw;
}

#btn3 {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: var(--firstcolor);
  border: 1px solid var(--firstcolor);
  border-radius: 5px;
  color: var(--secondcolor);
  font-size: larger;
  font-weight: 600;
  padding: 0px 40px;
  min-height: 53.5px;
}

.trending-section,
.more-reasons-section,
.faq-section {
  max-width: 1400px;
  margin: 20px;
}

.slideshow-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  max-width: 1100px;
  margin: 0 auto;
  padding: 1rem 1rem;
  margin-top: -20px;
  overflow: visible;
}

.slideshow {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-padding-left: 35px;
  scroll-behavior: smooth;
  scrollbar-width: none;
  gap: 2rem;
  padding-left: 1.55rem;
  border-radius: 8px;
  padding: 0.7rem;
  overflow-y: hidden;
}

.slideshow::-webkit-scrollbar {
  display: none;
}

.show {
  flex: 0 0 auto;
  width: 180px;
  border-radius: 8px;
  scroll-snap-align: start;
  position: relative;
  color: var(--secondcolor);
  transition: transform 0.3s ease;
  transform-origin: center center;
  padding-left: 10px;
  margin-top: 10px;
}

.show:hover {
  transform: scale(1.05);
  z-index: 3;
}

.show img {
  width: 180px;
  height: 250px;
  border-radius: 8px;
  object-fit: cover;
  display: block;
  color: var(--whitecolor);
}

.showbtn {
  cursor: pointer;
  border: none;
  background: none;
  width: 100%;
  padding: 0;
  display: block;
  position: relative;
  z-index: 1;
}

.show-number {
  position: absolute;
  bottom: -20px;
  left: -15px;
  font-size: 100px;
  font-weight: bold;
  color: var(--blackcolor);
  text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.7);
  z-index: 2;
  -webkit-text-stroke: 2px var(--whitecolor);
  pointer-events: none;
}

.show-number:hover {
  transform: none;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(51, 51, 51, 0.5);
  color: var(--whitecolor);
  font-size: 2.5rem;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  z-index: 2;
}

.arrow:hover {
  background: #797878;
}

.arrow.left {
  left: 0;
}

.arrow.right {
  right: 0;
}

.arrow.hidden {
  display: none;
}

.heading2 {
  font-family: "Outfit", sans-serif;
  font-weight: 700;
  font-size: 24px;
  color: var(--whitecolor);
  margin: 15px auto 10px auto;
  padding: 0 1rem;
  max-width: 1100px;
}

.heading2 h2 {
  margin: 0;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 24px;
  width: 210px;
  height: 270px;
  border: none;
  border-radius: 25px;
  color: var(--secondcolor);
  background: linear-gradient(135deg, #192144, #1d182f, #200e18);
  box-shadow: 0 0 20px rgba(255, 0, 128, 0.05);
}

.card h2 {
  font-weight: 600;
  margin-bottom: 10px;
}

.card p {
  color: #cccccc;
  font-size: 0.95rem;
  line-height: 1.5;
}

.icons {
  text-align: right;
  margin-bottom: -20px;
  padding: 0;
}

.faq-section {
  max-width: 1400px;
  margin: 0 auto;
  padding: 2rem 1rem;
  color: var(--whitecolor);
  font-family: "Outfit", sans-serif;
}

.faq-heading {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 2rem;
}

.faq-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.faq-question,
.faq-answer {
  width: 80vw;
  box-sizing: border-box;
}

.faq-question {
  width: 80vw;
  text-align: left;
  background-color: #303030;
  color: var(--whitecolor);
  padding: 1.2rem;
  font-family: "Outfit", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  cursor: pointer;
  border: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  margin-bottom: 2px;
}

.faq-answer {
  width: 80vw;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease;
  background-color: #303030;
  padding: 0 1.2rem;
  margin: auto;
  font-size: 1.3rem;
  color: #ccc;
}

.faq-item.active .faq-answer {
  max-height: 300px;
  padding: 1rem 1.2rem;
}

.faq-icon {
  font-size: 2.5rem;
  transition: transform 0.3s;
}

.faq-item.active .faq-icon {
  transform: rotate(45deg);
}

.new {
  font-size: 1em;
  font-weight: 400;
  margin-top: 7px;
  padding: 23px;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--secondcolor);
}

.email-container2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
  margin: auto;
  width: 70vw;
}

#input2 {
  flex: 1;
  background: none;
  border: 1px solid var(--thirdcolor);
  border-radius: 5px;
  color: var(--secondcolor);
  font-size: 1rem;
  font-weight: 500;
  padding: 0 1.5rem;
  min-height: 50px;
}

#btn4 {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: var(--firstcolor);
  border: 1px solid var(--firstcolor);
  border-radius: 5px;
  color: var(--secondcolor);
  font-size: larger;
  font-weight: 600;
  padding: 0px 40px;
  min-height: 53.5px;
}

footer {
  padding-top: 50px;
  max-width: 80vw;
  margin: auto;
}

footer span {
  color: rgba(255, 255, 255, 0.7);
  margin: 20px;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: auto;
  max-width: 80vw;
  color: rgba(255, 255, 255, 0.7);
  font-size: 14px;
  line-height: 24px;
}

.footer-item {
  display: flex;
  flex-direction: column;
  margin: 20px;
  gap: 10px;
}

footer a {
  color: rgba(255, 255, 255, 0.7);
}

/* phone */
@media screen and (min-width: 376px) and (max-width: 650px) {
  hr {
    width: 100%
  }
  .main {
    height: 70vh;
    width: 100%;
  }
  .main .box {
    height: 70vh;
    width: 100%;
  }
  nav {
    width: 100vw;
  }
  nav span img {
    width: 150px;
  }
  .hero > :first-child {
    font-weight: 900;
    font-size: 1.3em;
    max-width: 400px;
  }

  .hero > :nth-child(2) {
    font-size: 1em;
    font-weight: 600;
  }
  .email-container,
  .email-container2 {
    flex-direction: column;
    max-width: 100vw;
    margin-top: 0;
  }

  #input1,
  #input2 {
    width: 70vw;
  }
  #btn3,
  #btn4 {
    margin-bottom: 25px;
  }
  .heading2 {
    margin-top: 10px;
    padding-top: 20px;
  }
  .trending-section,
  .more-reasons-section,
  .faq-section {
    max-width: 700px;
    margin: 0;
    padding: 0.5rem 1rem;
  }
  .slideshow-wrapper {
    margin-bottom: 0px;
  }
  .slideshow {
    width: 100%;
  }
  .show {
    flex: 0 0 auto;
    width: 150px;
    margin: auto;
    justify-content: center;
    align-items: center;
  }
  .show img {
    width: 150px;
    height: 210px;
  }
  .card {
    width: 100%;
    max-width: 80vw;
    margin: auto;
  }
  .faq-question,
  .faq-answer {
    width: 90vw;
  }
  footer {
    max-width: 90vw;
    margin: auto;
  }
  footer span {
    max-width: 100vw;
    margin-left: 5px;
  }
  .footer {
    max-width: 90vw;
    grid-template-columns: 1fr 1fr;
    gap: 0px;
  }
  .footer-item {
    gap: 10px;
    margin: 5px;
  }
}

/* small width phone */
@media screen and (min-width: 200px) and (max-width: 375px) {
  hr {
    width: 100%;
  }
  .main {
    height: 80vh;
    width: 100%;
  }
  .main .box {
    height: 80vh;
    width: 100%;
  }
  nav {
    width: 100vw;
  }
  nav span img {
    width: 130px;
  }
  .hero > :first-child {
    font-weight: 900;
    font-size: 1.2em;
    max-width: 400px;
  }
  .hero > :nth-child(2) {
    font-size: 1em;
    font-weight: 600;
  }
  .email-container,
  .email-container2 {
    flex-direction: column;
    max-width: 110vw;
    margin-top: 0;
  }
  #input1,
  #input2 {
    width: 70vw;
  }
  #btn3,
  #btn4 {
    margin-bottom: 25px;
  }
  .heading2 {
    margin-top: 10px;
    padding-top: 20px;
  }
  .trending-section,
  .more-reasons-section,
  .faq-section {
    max-width: 700px;
    margin: 0;
    padding: 0.5rem 1rem;
  }
  .slideshow-wrapper {
    margin-bottom: 0px;
  }
  .slideshow {
    width: 150%;
  }
  .show {
    flex: 0 0 auto;
    width: 130px;
    margin: auto;
    justify-content: center;
    align-items: center;
  }
  .show img {
    width: 130px;
    height: 190px;
  }
  .card {
    width: 100%;
    max-width: 80vw;
    margin: auto;
  }
  .faq-question,
  .faq-answer {
    width: 90vw;
  }
  footer {
    max-width: 90vw;
    margin: auto;
  }
  footer span {
    max-width: 100vw;
    margin-left: 5px;
  }
  .footer {
    max-width: 90vw;
    grid-template-columns: 1fr 1fr;
    gap: 0px;
  }
  .footer-item {
    gap: 10px;
    margin: 5px;
  }
}

/* Tablet: 1 full-width card per row */
@media screen and (min-width: 651px) and (max-width: 1023px) {
  .card {
    width: 100%;
    max-width: 75vw;
    margin: auto;
  }
  .slideshow {
    width: 100%;
    max-width: 75vw;
    margin: auto;
  }
  .heading2 {
    margin-left: 20px;
  }
  footer {
    max-width: 85vw;
  }
  .footer {
    max-width: 81vw;
    grid-template-columns: 1fr 1fr;
    gap: 0px;
  }
  .footer-item {
    gap: 10px;
    margin: 5px;
  }
}

/*ipad pro*/
@media screen and (min-width: 1024px) and (max-width: 1200px) {
  .card {
    width: calc(50% - 15%);
    max-width: 400px;
  }
  .slideshow {
    width: 100%;
    max-width: 75vw;
    margin: auto;
  }
  .heading2 {
    margin-left: 50px;
  }
  footer,
  .footer {
    max-width: 85vw;
  }
}

/* big screen */
@media screen and (min-width: 1450px) and (max-width: 2500px) {
  body {
    margin: auto;
    max-width: 100vw;
  }

  .trending-section,
  .more-reasons-section,
  .faq-section {
    max-width: 100vw;
    margin: 20px;
  }
  .faq-answer,
  .faq-question {
    max-width: 70vw;
    margin: auto;
  }
  footer {
    max-width: 80%;
    margin: auto;
  }
}
