body {
  font-family: Arial, sans-serif;
  background-color: hsl(0, 0%, 95%);
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.weatherForm {
  margin: 20px;
}
.cityInput {
  padding: 10px;
  font-size: 1.9rem;
  font-weight: bold;
  border: 2px solid hsla(0, 0%, 20%, 0.3);
  border-radius: 10px;
  margin: 0 10px;
  width: 300px;
}
.btn {
  padding: 10px 20px;
  font-weight: bold;
  font-size: 1.9rem;
  background-color: hsl(122, 39%, 50%);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.btn:hover {
  background-color: hsl(122, 39%, 40%);
}
.card {
  background: linear-gradient(170deg, hsl(210, 100%, 75%), hsl(40, 100%, 75%));
  padding: 50px;
  box-shadow: 2px 2px 5px hsla(0, 0%, 0%, 0.5);
  min-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
}
h1 {
  font-size: 3.4rem;
  margin-top: 0;
  margin-bottom: 25px;
}
p {
  font-size: 1.5rem;
  margin: 3px 0;
}
.cityDisplay,
.tempDisplay {
  font-size: 3.5rem;
  font-weight: bold;
  color: hsla(0, 0%, 0%, 0.75);
  margin-bottom: 25px;
}
.humidityDisplay {
  font-weight: bold;
  margin-bottom: 25px;
}
.descDisplay {
  font-style: italic;
  font-weight: bold;
  font-size: 3rem;
}
.weatherEmoji {
  margin: 0;
  margin: 3px 0;
  width: 150px;
}
.errorDisplay {
  font-size: 2.5rem;
  font-weight: bold;
  color: hsla(0, 0%, 0%, 0.75);
}

/* Mobile */
@media (max-width: 600px) {
  .weatherForm {
    display: flex;
    flex-direction: column;
  }
  .cityInput {
    width: 300px;
    margin-bottom: 10px;
  }
  .btn {
    width: 250px;
    margin: auto;
  }
  .card {
    width: 60vw;
  }
  .cityDisplay,
  .tempDisplay {
    font-size: 3rem;
    margin-bottom: 15px;
  }
  .humidityDisplay {
    margin-bottom: 15px;
  }
  .descDisplay, .errorDisplay {
    font-size: 2rem;
  }
  .weatherEmoji {
    margin: 0;
    margin: 3px 0;
    width: 130px;
  }
}
/* card width for big screen */
@media (min-width: 601px){
  .card{
    min-width: 300px;
  }
}